<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Datvekhachsan"
        tools:targetApi="31">

        <activity android:name=".activity.RoomBookingActivity" android:exported="false" />
        <activity android:name=".activity.HotelDetailActivity" android:exported="false" />
        <activity android:name=".activity.MainActivity" android:exported="false" />
        <activity android:name=".activity.LoginActivity" android:exported="false" />
        <activity android:name=".activity.RegisterActivity" android:exported="false" />
        <activity android:name=".activity.HotelListActivity" android:exported="false" />
        <activity android:name=".activity.SearchActivity" android:exported="false" />
        <activity android:name=".activity.BookingHistoryActivity" android:exported="false" />
        <activity android:name=".activity.FavoriteHotelsActivity" android:exported="false" />
        <activity android:name=".activity.PaymentActivity" android:exported="false" />
        <activity android:name=".activity.PaymentSuccessActivity" android:exported="false" />
        <activity android:name=".activity.ProfileActivity" android:exported="false" />
        
        <activity android:name=".activity.admin.AdminBookingListActivity" android:exported="false" />
        <activity android:name=".activity.admin.AdminDashboardActivity" android:exported="false" />
        <activity android:name=".activity.admin.AdminHotelEditorActivity" android:exported="false" />
        <activity android:name=".activity.admin.AdminHotelListActivity" android:exported="false" />
        <activity android:name=".activity.admin.AdminRoomListActivity" android:exported="false" />
        <activity android:name=".activity.admin.AdminRoomEditorActivity" android:exported="false" />
        <activity android:name=".activity.admin.AdminUserListActivity" android:exported="false" />

        <activity android:name=".activity.IntroActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>